.idea
!.idea/codeStyles/
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml
*.iml
*.ipr
*.iws
build
.gradle
.classpath
atlassian-ide-plugin.xml
.DS_Store
.project
.settings/
.vscode/
.nova
