.pagination-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
}

.pagination-container a {
    color: #555;
    padding: 4px 10px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-right: none;
    background-color: #f5f5f5;
    font-size: 0.85em;
    transition: background-color 0.2s ease-in-out;
}

.pagination-container a:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination-container a:last-child {
    border-right: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination-container a.active {
    background-color: #feb672;
    color: white;
    border-color: #feb672;
}

.pagination-container a:hover:not(.active) {
    background-color: #e8e8e8;
}
