name: Publish
on:
  push:
    branches:
      - master
  schedule:
    - cron:  '0 */2 * * *'
  workflow_dispatch:
jobs:
  build:
    permissions:
      contents: write
    if: github.repository == 'apache/grails-static-website'
    runs-on: ubuntu-latest
    steps:
      - name: "⚙️ Maximize build space"
        run: |
          echo "-- Dotnet"
          sudo rm -rf /usr/share/dotnet
          echo "-- Android"
          sudo rm -rf /usr/local/lib/android
          echo "-- Haskell"
          sudo rm -rf /opt/ghc
          echo "-- CodeQL"
          sudo rm -rf /opt/hostedtoolcache/CodeQL

          df -h
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: liberica
          java-version: 17
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          develocity-access-key: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}
      - name: Publish Main Site
        run: ./publish.sh
        env:
          GITHUB_SLUG: apache/grails-website
          GH_TOKEN: ${{ secrets.GRAILS_GHTOKEN }}
          GH_BRANCH: asf-site-production
          GRADLE_TASK: build
          GRAILS_WS_URL: https://grails.apache.org    
      - name: Publish Guides Site
        run: ./publish.sh
        env:
          GITHUB_SLUG: grails-guides/grails-guides-template
          GH_BRANCH: gh-pages
          GH_TOKEN: ${{ secrets.APACHE_GRAILS_BUILD_GH_TOKEN }}
          GRADLE_TASK: buildGuide
